.tcard {
    margin-left: 15px;
    margin-right: 15px;
    background: black;
    border:2px solid gray;
    cursor: pointer;
    border-radius:25px;
background: linear-gradient(to bottom right, #222, #000);
height: 100%;
width: 90%;
  }
   .slick-dots li button:before {
    color: white;  /* Default dot color to white */
                            font-size: 10px;

  }
  .slick-dots li.slick-active button:before {
    color: white;  /* Active dot color to white */
                font-size: 15px;

  }

  .slick-dots {
      bottom: -55px;

  }
      .border-line1{
    border-top: 1px solid hsla(0, 0%, 100%, 1);
    width: 122px;
  }